html {
    box-sizing: border-box;
}

* {
    font-family: sans-serif;
    margin: 0;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    background-color: #171717;
    color: white;
}

hr {
    color: #282828;
}

/* Panel */
panel {
    display: block;
    border-radius: 30px;

    background-color: #282828;
    color: white;

    padding: 19px;
    padding-top: 19px;
    margin-bottom: 15px;

    margin: 10px;
}

panel img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
}

panel ctitle {
    display: block;
    color: #ffffff;

    font-size: larger;

    margin-bottom: 6px;
}

panel csub {
    display: block;
    color: #ffffffbf;

    font-weight: 300;
    font-size: large;

    margin-bottom: 17px;
}

panel content {}

panel content[type="iconup"] {
    display: flex;
    flex-direction: column;
    /* Arrange items vertically */
    align-items: center;
    /* Align items horizontally */
}

panel content[type="iconup"] img {
    width: 50px;
    /* Adjust the width as needed */
    margin-bottom: 10px;
    /* Add margin below the image */
}

panel content[type="iconup"] ctitle,
panel content[type="iconup"] csub {
    font-size: 18px;
    /* Title and subtitle font size */
    margin: 0;
    /* Reset margin */
}

panel content[type="iconside"] {
    display: flex;
    align-items: center;
    /* Align items vertically */
}

panel content[type="iconside"] img {
    width: 50px;
    /* Adjust the width as needed */
    margin-right: 10px;
    /* Add margin to separate from text */
}

panel content[type="iconside"] iconwrapper {
    /* width: 40px;  */
    margin-right: 20px;
    margin-left: 10px;
    font-size: 26px;
}

panel content[type="iconside"] sidetext {
    display: flex;
    flex-direction: column;
    /* Arrange items vertically */
}

panel content[type="iconside"] ctitle,
panel content[type="iconside"] csub {
    margin: 0;
    /* Reset margin */
}

panel content[type="iconside"] ctitle {
    font-size: 18px;
    /* Title font size */
    margin-bottom: 4px;
}

panel content[type="iconside"] csub {
    font-size: 16px;
    /* Subtitle font size */
}

/* Menubar */
menubar {
    display: block;
    background-color: #222222;
    padding: 10px;
    /* padding-bottom: 1px; */
    position: -webkit-sticky;
    position: sticky;
}

menubar[transparent] {
    background-color: transparent;
}

menubar[justnav] {
    padding: 0px;
    padding-bottom: 0px;
}

menubar[placement="top"] {
    top: 0;
}

menubar[placement="bottom"] {
    bottom: 0;
}


menubar ctitle {
    display: block;
    color: #ffffff;

    font-size: 21px;

    margin-bottom: 10px;
    margin-top: 7px;
    margin-left: 10px;
}

menubar csub {
    display: block;
    color: #ffffffbf;

    font-weight: 300;
    font-size: large;

    margin-bottom: 8px;
    margin-left: 10px;
}

menubar nav {
    text-align: center;
    background-color: #323232;
    border-radius: 10px;
    padding: 12px;
}

menubar[justnav] nav {
    background-color: black;
    border-radius: 0px;
}

menubar nav btncontainer {
    font-size: large;
    display: inline-block;
    min-width: 20%;
}

menubar nav a,
menubar nav button {
    color: #fafafa;
}

menubar nav a[selected],
menubar nav button[selected] {
    background-color: rgb(63, 63, 250);
    border: 8px solid rgb(63, 63, 250);
    border-radius: 10px;
}

menubar[placement="top"] {
    margin-bottom: 20px;
}

menubar panel {
    padding: 12px
}

.stickycollapse {
    visibility: visible;
    opacity: 1;
    max-height: 100px;
    /* Set the maximum height when collapsed */
    overflow: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease, max-height 0.3s ease, padding-top 0.3s ease, padding-bottom 0.3s ease, margin-top 0.3s ease, margin-bottom 0.3s ease;
}

.stickycollapse.hidden {
    opacity: 0;
    max-height: 0;
    /* Collapse the content */
    visibility: hidden;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
}

profilecircle {
    display: block;
    position:absolute;
    right: 13px;
    top: 10px;
}

profilecircle img {
    width: 40px;
    border-radius: 40px;
}

profilespacer {
    display: block;
    margin-bottom: 20px;
}

.dy-profiledialog {
}